<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}API 說明{% endblock title %}</title>
<link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    {% block content %}{% endblock content %}
    <hr>
    <h3>API列表</h3>
    <ul>
      <li><a href="/">首頁</a></li>
      <li><a href="/addAPI">ADD API</a></li>
      {% block listapi %}{% endblock listapi %}
    </ul>
  </body>
</html>
